[user]
  name = kainstar
  email = 461345042@qq.com
[core]
  autocrlf = false
  eol = lf
[alias]
  cm = commit
  ps = push
  pl = pull
  br = branch
  r = remote
  st = status
  co = checkout
  com = checkout master
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  undo = reset HEAD^
[http]
  proxy = http://127.0.0.1:7890
[https]
  proxy = http://127.0.0.1:7890
